{% extends 'blogs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h3>Add a new post</h3>
{% endblock page_header %}

{% block content %}

  <form method="post" action="{% url 'blogs:new_post' %}" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button name="submit" class="btn btn-primary">Add post</button>
        <a class="btn btn-outline-secondary" href="{% url 'blogs:home' %}">Cancel</a>
      {% endbuttons %}
  </form>

{% endblock content %}
